<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Lessons</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="Styles/style.css">
    <script src="https://kit.fontawesome.com/0ecb2c1182.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <!-- Created cart button that activates only if there's something in the cart -->
            <button v-html="cartCount + ' ' + cartButton" v-on:click="showCheckout"
                v-if="cartCount  && showProduct"></button>
            <!-- This was made in case the cart was emptied and otherwise you could not go back to product page -->
            <button v-html="cartCount + ' ' + cartButton" v-on:click="showCheckout" v-else-if="!showProduct"></button>
            <button v-html="cartCount + ' ' + cartButton" disabled v-else></button>
        </header>
        <!-- Shows the product page if this is true -->
        <div v-if="showProduct">
            <h2 class="pageHeader">Product List</h2>
            <!-- Creates search field 
                Since Vue.js updates the fields every time there is a change the search includes search while typing -->
            <div class="searchBox">
                <p>
                    Search:
                    <input type="text" class="searchInput" v-model="searchTerm" />
                </p>
      </div>
            <!-- Creates radio buttons for sorting products using Vue.js two way binding -->
            <div class="searchAndSort">
                <p><input type="radio" id="priceLowHigh" value="priceLowHigh" v-model="sortStyle">
                    <label for="priceLowHigh">Price: Low to High</label>
                </p>
                <p>
                    <input type="radio" id="priceHighLow" value="priceHighLow" v-model="sortStyle">
                    <label for="priceHighLow">Price : High to Low</label>
                </p>
                <p>
                    <input type="radio" id="aToZ" value="aToZ" v-model="sortStyle">
                    <label for="aToZ">Name: A to Z</label>
                </p>
                <p>
                    <input type="radio" id="zToA" value="zToA" v-model="sortStyle">
                    <label for="zToA">Name: Z to A</label>
                </p>
     </div>
